.product-condition{
  width:267px;
}

.product-condition__item, .product-condition__item--focused-title{
  width:220px;
  height:52px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  border-bottom:1px solid var(--gray-100);
  cursor:pointer;
}

.product-condition__item:first-child{
  cursor:default;
}

.product-condition__button{
  width:100%;
  height:24px;
  all:unset;
  font-size:var(--text-base);
  font-weight:600;
}

.product-condition__category-cnt{
  display:inline-block;
  font-size:10px;
  color:var(--gray-300);
  padding-left:8px;
}

.product-condition__button--reset{
  width:26px;
  height:var(--text-base);
  font-size:10px;
  color:#a6a6a6;
  cursor:pointer;
}

.product-condition__item--focused-title{
  border-bottom:none;
}

.product-condition__label-check{
  width:220px;
  height:50px;
  display:flex;
  flex-flow:row nowrap;
  justify-items:start;
  align-items:center;
  cursor: pointer;
}

.product-condition__ico-check {
  display: inline-block;
  width: 24px;
	height: 24px;
  background: url("./../../assets/sprites.png") no-repeat -285px -226px;
  margin-right:var(--spacing-xs);
  flex-shrink: 0;
}

input[type="checkbox"]:checked + .product-condition__ico-check {
  background-position: -406px -10px;
}

.product-condition__brandName--cnt{
  display:inline-block;
  font-size:10px;
  color:var(--gray-300);
  padding-left:var(--spacing-xxs);
}

.product-condition__item-more{
  width:220px;
  height:42px;
  border-bottom:1px solid var(--gray-100);
  display:flex;
  flex-flow:row nowrap;
  padding:6px 68px 18px;
  cursor:pointer;
}

.product-condition__item-more span{
  height:18px;
  font-size:var(--text-xs);
  line-height:18px;
  color:var(--gray-300);
}

.product-condition__ico-open,
.product-condition__ico-close{
  cursor:pointer;
}