.product-inquiry-popup{
  width:793px;
  height:630px;
  padding:32px;
  background:var(--white);
  border-radius:16px;
}

.product-inquiry-popup h3{
  width:729px;
  height:60px;
  font-size:28.43px;
  font-weight:700;
  line-height:140%;
  border-bottom:1px solid var(--gray-100);
}

.inquiry-popup__content{
  width:729px;
  height:104px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:var(--spacing-lg);
  border-bottom:1px solid var(--gray-100);
}

.inquiry-popup__content img{
  width:72px;
  height:72px;
}

.inquiry-popup__content-name{
  font-size:var(--text-base);
  font-weight:600;
  color:var(--black);
  line-height:150%;
}

fieldset{
  padding:0;
}

.inquiry-popupForm{
  width:729px;
  padding-top:var(--spacing-base);
}

.inquiry-popupForm__group{
  width:729px;
  height:328px;
  border-bottom:1px solid var(--gray-300);
}

.inquiry-popupForm__group-title{
  width:729px;
  height:44px;
  margin-bottom:var(--spacing-sm);
}

.inquiryPopup-title__input-label,
.inquiryPopup-description__input-label{
  width:100px;
  padding:8px 64px 10px 8px;
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  margin-right:-4px;
}

.inquiryPopup-title__input{
  width:629px;
  height:44px;
  border:1px solid var(--gray-300);
  border-radius:4px;
  padding:9px 0 9px 20px;
}

.inquiryPopup-title__input::placeholder,
.inquiryPopup-title__input::-ms-input-placeholder,
.inquiryPopup-description__input::placeholder,
.inquiryPopup-description__input::-ms-input-placeholder{
  color:var(--gray-300);
}

.inquiryPopup-description__input-label{
  position:relative;
  top:5px;
}

.inquiry-popupForm__group-description textarea{
  width:629px;
  height:198px;
  vertical-align:top;
  padding:var(--spacing-base) var(--spacing-base) 0 var(--spacing-base) ;
  border:1px solid var(--gray-300);
  border-radius:4px;
  resize:none;
}

.inquiry-popupForm__label-check{
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-items:center;
  gap:var(--spacing-xs);
  padding:12px 0 22px 101px;
  cursor:pointer;
}

.product-inquiry-popup input[type="checkbox"]{
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
}

.inquiry-popupForm__ico-check {
  display: inline-block;
  width: 24px;
	height: 24px;
  background: url("./../../assets/sprites.png") no-repeat -285px -226px;
  margin-right:var(--spacing-xs);
  flex-shrink: 0;
}

input[type="checkbox"]:checked + .inquiry-popupForm__ico-check {
  background-position: -406px -10px;
}

.inquiry-popupForm__label-text{
  font-size:var(--text-xs);
  line-height:19.2px;
  color:var(--black);
}

.inquiry-popupForm__button{
  width:729px;
  height:74px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  gap:var(--spacing-sm);
  padding-top:var(--spacing-md);
}

.inquiry-popupForm__button-cancel,
.inquiry-popupForm__button-enroll{
  width:186px;
  height:54px;
  border-radius:4px;
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  cursor:pointer;
}

.inquiry-popupForm__button-cancel{
  border:1px solid var(--gray-200);
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
}

.inquiry-popupForm__button-enroll{
  border:none;
  background:var(--gray-100);
  color:var(--white);
}
