.product-inquiry-popup{
  width:793px;
  height:630px;
  padding:32px;
  background:var(--white);
  border:1px solid #ccc;
  border-radius:16px;
}

.product-inquiry-popup h3{
  width:729px;
  height:60px;
  font-size:28.43px;
  font-weight:700;
  line-height:140%;
  border-bottom:1px solid var(--gray-100);
}

.inquiry-popup__content{
  width:729px;
  height:104px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:24px;
  border-bottom:1px solid var(--gray-100);
}

.inquiry-popup__content img{
  width:72px;
  height:72px;
}

.inquiry-popup__content-name{
  font-size:16px;
  font-weight:600;
  color:var(--black);
  line-height:150%;
}

fieldset{
  padding:0;
}

.inquiry-popup-form{
  width:729px;
  padding-top:16px;
}

.inquiry-form__group{
  width:729px;
  height:328px;
  border-bottom:1px solid var(--gray-300);
}

.inquiry-form__group-title{
  width:729px;
  height:44px;
  margin-bottom:12px;
}

.inquiry-title__input__label,
.inquiry-description__input__label{
  width:100px;
  padding:8px 64px 10px 8px;
  font-size:16px;
  font-weight:600;
  line-height:24px;
  margin-right:-4px;
}

.inquiry-title__input{
  width:629px;
  height:44px;
  border:1px solid var(--gray-300);
  padding:9px 0 9px 20px;
}

.inquiry-title__input::placeholder,
.inquiry-title__input::-ms-input-placeholder,
.inquiry-description__input::placeholder,
.inquiry-description__input::-ms-input-placeholder{
  color:var(--gray-300);
}


.inquiry-description__input__label{
  position:relative;
  top:5px;
}

.inquiry-form__group-description textarea{
  width:629px;
  height:198px;
  vertical-align:top;
  padding:16px 16px 0 16px ;
  border:1px solid var(=--gray-300);
}

.inquiry-form--check-secrete{
  display:flex;
  flex-flow:row nowrap;
  justify-content:flex-start;
  align-items:center;
  gap:8px;
  padding:12px 0 22px 101px;
}

.inquiry-form--check-text{
  font-size:12px;
  line-height:19.2px;
  color:var(--black);
}

.inquiry-form--check-icon{
	background: url('../../assets/sprites.png') no-repeat -285px -226px;
	width: 24px;
	height: 24px;
}

.inquiry-form__button{
  width:729px;
  height:74px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  gap:12px;
  padding-top:20px;
}

.inquiry-form__button-cancel,
.inquiry-form__button-enroll{
  width:186px;
  height:54px;
  border-radius:4px;
  font-size:16px;
  font-weight:600;
  line-height:24px;
}

.inquiry-form__button-cancel{
  border:1px solid var(--gray-200);
  font-size:16px;
  font-weight:600;
  line-height:24px;
}

.inquiry-form__button-enroll{
  border:none;
  background:var(--gray-100);
  color:var(--white);
}
