/* main */
.main {
  width: 1050px;
  margin: 0 auto;
}
.main__recommend-product,
.main__best-price {
    padding: 40px 0;
    position: relative;
}
.main__recommend-product__title {
  font-weight: 700;
  font-size: 28.43px;
  line-height: 140%;
  text-align: center;
  padding: 8px;
  margin-bottom: var(--spacing-xl);
}

/* swiper */
.main .swiper {
  width: 100%;
        height: 100%;
}

.main .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

/* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* swiper button */
.main .swiper-button-next,
.main .swiper-button-prev  {
  position: absolute;
    background-color: var(--white);
    border-radius: 50%;
    width: 50px;
	  height: 50px;  
} 
.main .swiper-button-next::after,
.main .swiper-button-prev::after {
    display: none;
  }
  .main .swiper-button-next{
  top:259px;
  right:-25px;
  }
  .main .swiper-button-prev{
    top:259px;
    left:-25px;
  }
.main .swiper-pagination{
  display: none;
}
/* figure in swiper  */

.main .swiper-slide{
  width: 249px;
  height: 426px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
 
}
.main .swiper img{
  max-width: 100%;
	transition: all 0.5s ease-in-out 0s;
  /* icon위치 설정을 위한 position */
  position: relative;
}

.main .swiper-image {
  display: inline-block;
  width: 249px;
  height: 320px;
  overflow: hidden;
}
.main .swiper-image:hover img {
  -webkit-transform: scale(1.02);
	transform: scale(1.02);
}

.main .swiper figcaption{
  position: absolute;
  top: 336px;
  left: 0;
  font-size: 16px;
  color: var(--content);
  line-height: 160%;
  font-weight: 400;
}
.main .swiper p{
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  position: absolute;
  top: 370px;
  left: 0;
}
/* sale */
.main .price--sale::before {
  content:'24%';
  color: var(--accent-yellow);
  font-weight: 600;
  font-size: 21.328px;
  line-height: 150%;
  margin-right: var(--spacing-xs);
}
.main .price--sale::after {
  display: block;
  content:'24,000원';
  color: var(--gray-400);
  font-weight: 400;
  font-size: var(--text-xs);
  line-height: 160%;
  text-decoration:line-through;
  text-align: left;
}

/* cart icon */
.modal--cart-icon {
  content: '';
  background: url(../../assets/sprites.png) no-repeat -78px -278px;
  width: 45px;
	height: 45px;
  border: none;
}
.main .modal--cart-icon {
  position: absolute;
  top:258px;
  left: 189px;
}