.product-inquiry__header{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:flex-start;
  margin-bottom:56px;
}

.product-inquiry__header h2{
  width:99px;
  height:40px;
  font-size:28px;
  font-weight:700;
  margin-bottom:var(--spacing-lg);
}

.product-inquiry__header__item{
  font-size:var(--text-xs);
  font-weight:600;
  color:var(--gray-500);
  line-height:var(--text-md);
  position: relative;
  margin-left: 12px;
}

.product-inquiry__header__item::before{
  content: "•";
  position: absolute;
  left: -9px;
}

[class^="product-inquiry__header__button"] {
  flex-shrink:0;
  width:157px;
  height:46px;
  border: none;
  font-weight:600;
  padding:10px 34px;
  background:var(--primary);
  color:var(--white);
  border-radius:4px;
}

.product-inquiry__table{
  width:var(--container-width);
  border-top: 2px solid var(--black);
}

.product-inquiry__thead{
  width:100%;
  height:58px;
  border-bottom:1px solid var(--black);
  line-height:58px;
}

.product-inquiry__theadContent-title{
  width:750px;
  font-size:var(--text-base);
  font-weight:600;
  color:var(--black);
}

.product-inquiry__theadContent-writer,
.product-inquiry__theadContent-date,
.product-inquiry__theadContent-status{
  width:100px;
  font-size:var(--text-base);
  font-weight:600;
  color:var(--black);
}

.product-inquiry__tr-notice,
.product-inquiry__tr-notice,
.product-inquiry__tr-secrete{
  width:100%;
  height:58px;
  border-bottom:1px solid var(--gray-100);
}

.product-inquiry__tr-issue,
.product-inquiry__tr-secrete{
  cursor:pointer;
}

.product-inquiry__notice-title{
  padding:var(--spacing-md) 0 var(--spacing-md) var(--spacing-md);
}

.product-inquiry__button-notice{
  display:flex;
  flex-flow:row nowrap;
  justify-content:start;
  align-items:center;
  gap:var(--spacing-md);
  border:none;
}

.product-inquiry__notice-label{
  width:37px;
  height:var(--text-md);
  padding:0 var(--spacing-xs);
  background:var(--gray-100);
  border-radius:1px;
  font-size:var(--text-xs);
  font-weight:600;
  line-height:var(--text-md);
}

.product-inquiry__notice-info{
  height:24px;
  line-height:var(--text-xl);
  font-size:var(--text-base);
  font-weight:600;
}

.product-inquiry__notice-writer{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--gray-400);
  padding:17px 36px;
}

.product-inquiry__notice-date{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--gray-400);
  padding:17px 10px;
}

.product-inquiry__notice-status{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--gray-400);
  padding:17px 46px;
}

.product-inquiry__td-issue-title{
  padding:17px 0 17px 20px;
}

.product-inquiry__button-issue{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  border:none;
}

.product-inquiry__td--issue-writer,
.product-inquiry__td-secrete-writer{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--gray-400);
  text-align:center;
}

.product-inquiry__td--issue-date,
.product-inquiry__td-secrete-date{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--gray-400);
  text-align:center;
}

.product-inquiry__td--issue-status,
.product-inquiry__td-secrete-status{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--gray-400);
  text-align:center;
}

.product-inquiry__tr-issueContent{
  background:var(--gray-50);
  border-bottom:1px solid var(--gray-100);
}

.product-inquiry__tr-issueContent td{
  padding:var(--spacing-md);
}

.product-issueContent-question{
  display:flex;
  flex-flow:row nowrap;
  justify-content:start;
  gap:var(--spacing-sm);
  margin-bottom:40px;
}

.product-issueContent-question__content{
  font-size:var(--text-xs);
  font-weight:600;
  line-height:var(--text-md);
  white-space:pre-line;
}

.product-issueContent-answer{
  display:flex;
  flex-flow:row nowrap;
  justify-content:start;
  gap:var(--spacing-sm);
}

.product-issueContent-answer__content{
  width:481px;
  font-size:var(--text-xs);
  font-weight:600;
  line-height:var(--text-md);
  margin-bottom:var(--spacing-sm);
  display:block;
  white-space:pre-line;
}

.product-issueContent-answerDate{
  font-size:var(--text-xs);
  font-weight:600;
  line-height:var(--text-md);
  color:var(--gray-400);
  display:block;
}

.product-inquiry__td-secrete-title{
  display:flex;
  flex-flow:row nowrap;
  justify-content:start;
  align-items:center;
  gap:var(--spacing-md);
  padding:17px 0 17px 20px;
}

.product-inquiry__button-secrete{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--gray-400);
  border:none;
  padding:0 2px;
}

.secrete__ico-secrete{
	background: url('../../assets/sprites.png') no-repeat -406px -258px;
	width: 12px;
	height: 14px;
}

.product-inquiry__td-secrete-status-ok{
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  color:var(--primary);
  text-align:center;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.product-inquiry__button{
  margin: var(--spacing-base) 0 72px;
  position:relative;
}

.product-inquiry__button-wrapper{
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  gap:var(--spacing-base);
}

.product-inquiry__button-prev,
.product-inquiry__button-next{
  width:56px;
  height:56px;
  border:1px solid var(--gray-100);
  border-radius:4px;
  padding:var(--spacing-xxs);
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}