/* common */
.product-review{
  width:var(--container-width);
}

/* .product-review__header 영역 */
.product-review__header{
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:top;
  margin-bottom:56px;
}

.product-review__header h3{
  font-size:28px;
  font-weight:700;
  margin-bottom:25px;
}

.product-review__header__list p{
  font-size:16px;
  font-weight:600;
  line-height:24px;
}

.product-review__header__item{
  font-size:12px;
  font-weight:600;
  color:var(--gray-500);
  line-height:18px;
  list-style-type:disc;
}

.product-review__header__button{
  all:unset;
  width:155px;
  height:44px;
  font-size:16px;
  font-weight:600;
  line-height:24px;
  padding:10px 34px;
  text-align:center;
  background:var(--primary);
  color:var(--white);
  border-radius:4px;
}

/* .product-review__main 영역 */
.product-review--info{
  height:24px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
  margin-bottom:16px;
}

.product-review--info--cnt{
  font-size:var(--spacing-sm);
  font-weight:600px;
  line-height:18px;
}

.product-review--info__button, .product-review--info__button--focused{
  all:unset;
  font-size:12px;
  font-weight:600;
  line-height:24px;
}

.product-review--info__button{
  color:var(--gray-300);
}

.product-review--info-select div{
  display:inline-block;
  width:1px;
  height:10px;
  background:var(--gray-300);
  margin:0 8px;
}

/* product-review__main 영역 */
.product-review__main--swiper{
  border-top:1px solid var(--black);
}

.product-review__main__item--notice{
  width:100%;
  height:58px;
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  gap:20px;
  padding:17px 0px 17px 20px;
  border-bottom:1px solid var(--gray-100);
}

.product-review__notice-label{
  width:37px;
  height:18px;
  padding:0 8px;
  font-size:12px;
  font-weight:600;
  line-height:18px;
  background:var(--gray-100);
  border-radius:1px;
}

.product-review__notice-info{
  font-size:16px;
  font-weight:600;
  line-height:24px;
}

.product-review__main__item--review{
  width:100%;
  height:154px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:start;
  align-items:flex-start;
  padding:20px 0 20px 20px;
  border-bottom:1px solid var(--gray-100);
  gap:82px
}

.review--person-rank{
  width:128px;
  height:18px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-content:center;
}

.review--label-best{
  width:48px;
  height:18px;
  padding:0 8px;
  background:var(--secondary);
  font-size:12px;
  line-height:18px;
  font-weight:600;
  color:var(--white);
  border-radius:1px;
}

.review--label-rank{
  width:37px;
  height:18px;
  padding:0px 6px;
  font-size:12px;
  line-height:18px;
  border:1px solid var(--primary);
  border-radius:1px;
  text-align:center;
}

.review-user{
  font-size:12px;
  font-weight:600;
  line-height:18px;
}

.review--info{
  display:flex;
  flex-flow:column nowrap;
  gap:20px;
}

.review--product-name{
  font-size:12px;
  font-weight:600;
  color:var(--gray-400);
}

.review--description{
  font-size:12px;
  font-weight:400;
  line-height:19.2px;
}

.review--date{
  font-size:12px;
  font-weight:600;
  line-height:18px;
  color:var(--gray-400)
}

/* swiper-button 영역 */
.swiper-button-next {
  background: url('../../assets/sprites.png') o-repeat -406px -292px;
	width: 6px;
	height: 11px;
  /* background-size: 50% auto;
  background-position: center; */
}

.swiper-button-prev {
  background: url('../../assets/sprites.png') o-repeat -406px -292px;
	width: 6px;
	height: 11px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}