.product-review-popup{
  width:793px;
  height:630px;
  padding:32px;
  background:var(--white);
  border:1px solid #ccc;
  border-radius:16px;
}

.product-review-popup h2{
  width:729px;
  height:60px;
  font-size:28.43px;
  font-weight:700;
  line-height:140%;
  border-bottom:1px solid var(--gray-100);
}

.review-popup__content{
  width:729px;
  height:104px;
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:var(--spacing-lg);
  border-bottom:1px solid var(--gray-100);
}

.review-popup__content img{
  width:72px;
  height:72px;
}

.review-popup__content-name{
  font-size:var(--text-base);
  font-weight:600;
  color:var(--black);
  line-height:150%;
}

fieldset{
  padding:0;
}

.review-popupForm{
  width:729px;
  padding-top:var(--spacing-base);
}

.review-popupForm__group{
  width:729px;
  height:328px;
  border-bottom:1px solid var(--gray-300);
}

.review-popupForm__group-title{
  width:729px;
  height:44px;
  margin-bottom:var(--spacing-sm);
}

.reviewPopup-title__input-label,
.reviewPopup-description__input-label{
  width:100px;
  padding:8px 64px 10px 8px;
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  margin-right:-4px;
}

.reviewPopup-title__input{
  width:629px;
  height:44px;
  border:1px solid var(--gray-300);
  padding:9px 0 9px 20px;
}

.reviewPopup-title__input::placeholder,
.reviewPopup-title__input::-ms-input-placeholder,
.reviewPopup-description__input::placeholder,
.reviewPopup-description__input::-ms-input-placeholder{
  color:var(--gray-300);
}


.reviewPopup-description__input-label{
  position:relative;
  top:5px;
}

.review-popupForm__group-description textarea{
  width:629px;
  height:198px;
  vertical-align:top;
  padding:var(--spacing-base) var(--spacing-base) 0 var(--spacing-base);
  border:1px solid var(=--gray-300);
  resize:none;
}

.popupForm__button{
  width:729px;
  height:74px;
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  gap:var(--spacing-sm);
  padding-top:var(--spacing-md);
}

.popupForm__button-cancel,
.popupForm__button-enroll{
  width:186px;
  height:54px;
  border-radius:4px;
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
  cursor:pointer;
}

.popupForm__button-cancel{
  border:1px solid var(--gray-200);
  font-size:var(--text-base);
  font-weight:600;
  line-height:var(--text-xl);
}

.popupForm__button-enroll{
  border:none;
  background:var(--gray-100);
  color:var(--white);
}
