/* Base Style - 공통으로 적용하는게 좋을듯한 스타일 묶음 */

body,
body::before,
body::after,
body *,
body *::before,
body *::after {
  box-sizing: border-box;
}
[class] {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  min-width: var(--container-width);
  font: inherit;
  font-family: "Pretendard", "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
  color: #333;
  background-color: #fff;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  background-color: #fff;
  cursor: pointer;
}
fieldset {
  padding: 0;
}
/* input search clear 버튼 숨기기 IE */
input::-ms-clear,
input::-ms-reveal{
  display:none;
}
/* input search clear 버튼 숨기기 Chrome */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration{
  display:none;
}



.is-active {
  display: block;
}
h2[class$="title"] {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
}